<%inherit file="base.html"/>
<div id="links">
<a href="${base}/new">New Layer</a>
</div>
<h2>Cache</h2>
     ${cache.__class__.__name__}
     <h2>Layers</h2> 
     <table style="width:75%">
       <tr>
       <td>Layer Name</td>
       <td>Layer Type</td>
       <td></td>
       </tr>
       % for layer, data in layers.items():
       <tr>
         <td>${data.name}</td>
         <td>${data.__class__.__name__}</td> 
         <td>(<a href="${base}/edit/${data.name}">Edit</a>)</td> 
         <td>(<a href="${base}/view/${data.name}">View</a>)</td> 
       </tr>
       % endfor  
     </table>
